.form_block {
  background: none repeat scroll 0% 0% rgba(26, 44, 87, 0.83);
  width: 100%;
  margin: 10px;
  color: white;
  padding: 20px;
}

input[type='submit'] {
  background: none repeat scroll 0% 0% #000;
  color: white;
  border: medium none;
  padding: 7px;
  margin-left: 10px;
}